<div>
    
     <div class="department-add">
        <form [formGroup]="passwordForm" (ngSubmit)="updatepassword()">
            <div class="form-group">
                <label for="password">Password</label>
                <p-password id="Password"  formControlName="Passwordchange"placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                
            </div>
            <div class="form-group">
                <label for="cpassword">Password Confirmer</label>
                <p-password id="Password"  formControlName="Passwordconfirmation"placeholder="Password Confirmer" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
        </form>
    </div> 

</div>